<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th style="text-align: left; padding: 15px; color: royalblue">Title</th>
      <th style="text-align: left; padding: 15px; color: royalblue">Description</th>        
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>  
        <td><%= video_tag url_for(video.video), style:"width: 200px; height: auto", controls: true %></td>
        <br>
        <td style="padding: 15px"><%= video.title %></td>
        <td style="padding: 15px"><%= video.description %></td>        
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @videos %>

<br>

<%= link_to 'New Video', new_video_path %>
